include *.txt
include pyproject.toml
include LICENSE
include docs *.yml
include docs *.txt
include docs *.md
recursive-include src *.txt
recursive-include src *.yml
recursive-include src *.json
recursive-include src *.html
recursive-include src *.csv
recursive-include src *.tsv
recursive-include tests *.py
recursive-include tests *.json
recursive-include tests *.html
