include *.txt
include .coveragerc
include Dockerfile
include LICENSE
include pytest.ini
recursive-include documentation *.py
recursive-include documentation *.rst
recursive-include documentation *.sh
recursive-include documentation Makefile
recursive-include src *.txt
recursive-include src *.yml
recursive-include src *.json
recursive-include src *.html
recursive-include src *.csv
recursive-include src *.tsv
recursive-include tests *.py
recursive-include tests *.json
recursive-include tests *.html
